<ion-view view-title="Cancellation Policy">
  <ion-content>
  	<style>
		p.policy {
    		padding: .4cm;
    	}
    </style>
	<p class = "policy">So what is the ParkHere Cancellation Policy? That is a question we have been getting a lot lately. We like to keep things nice and simple. You can cancel your reservation for any parking space within 2 hours of the beginning of your reservation without any costs. If you choose to cancel your reservation after 2 hours from the beginning of your reservation, then you will be charged a flat $5 cancellation fee. This is so the owner of the parking space is not constantly losing money from cancelled reservations. Thank you for choosing ParkHere. If you have any further questions, do not hesitate to contact our techinical support office at +1(408)799-7255.</p>

  </ion-content>
</ion-view>