
<ion-view title="Choose from an existing space or create a new one!" id="page25">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="ownerHome-list-item-container1">
            <button id="newSpace" ng-click = addNewSpace() class="button button-positive  button-block">Create new parking space</button>
            <ion-list id="ownerHome-list4" >
                <ion-item  class="item-thumbnail-left" ng-repeat="item in items" 
                  item="item" ng-click="edit(item)"  class="item-remove-animate">
                        <img ng-src="{{ item.image }}">
                        <h2 class="itemName">{{item.name}}</h2>
                        <p>${{item.price}}/hour</p>
                        <div id="divhidden" style="display: none;">{{item.uniqueID}}</div>
                        <div id="divhidden2" style="display: none;">{{item.email}}</div>
                    <ion-option-button class="button-positive" ng-click="edit(item)">Add time slots</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
