<ion-view title="Owner Profile" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="ownerProfile-form6" class="list">
        <div id="invalidOwner" style="color: red;"></div>
            <label class="item item-input" id="ownerProfile-input15">
                <span class="input-label">Name</span>
                <input type="text" ng-model="ownerData.name" placeholder="{{user.name}}">
            </label>
            <div style="margin: 0px; line-height: 250px; text-align: center;">
            <i class="icon " style="font-size: 64px; vertical-align: middle;" > <img style="width: 200px;" ng-src="{{ pciture.url }}"></i> 
            </div>
            <input class="bottom-marg-15" id ="fileUpload" type="file" name="file" file="file">
            <img class="fit" ng-if="uploadUri" ng-src="">
            <a ng-href="" ng-bind="uploadUri"></a>
            <label class="item" id="ownerProfile-input14">
                <span class="">Email:  <span style="margin-left: 115pt;">{{user.email}}</span></span>
                <!--<input type="text" ng-model="ownerData.email" placeholder="{{user.email}}"> -->
            </label>
            <label class="item item-input" id="ownerProfile-input16">
                <span class="input-label">Phone Number</span>
                <input type="text" ng-model="ownerData.phoneNumber" placeholder="{{user.phoneNumber}}">
            </label>
        </form>
        <div class="text-center">
            <h4 style="text-align: center;">Average rating:</h4>
             <ionic-ratings ratingsobj='ratingsObject' index =0></ionic-ratings>
             <button id="login-button1" class="button button-positive button-block" ng-click="updateOwner()">Update Owner</button>
        </div>
    </ion-content>
</ion-view>
