
<ion-view title="Owner Add Space" id="page9" ng-app="time">
    <ion-nav-buttons side="right" class="has-header">
        <!-- icon provides back button already -->
        <!--<button class="button button-icon icon ion-android-arrow-back"></button>-->
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
    <div id="addSpaceInvalid" style="color: red;"></div>
        <form id="ownerAddSpace-form4" class="list">
            <label class="item item-input" id="ownerAddSpace-input8">
                <input type="text" ng-model="data.spaceName" placeholder="Parking Space Name">
            </label>
            <label class="item item-input" id="ownerAddSpace-input12">
                <span class="input-label">$</span>
                <input type="text" placeholder="Price/hour" ng-model="data.price">
            </label>
            <label class="item item-input" id="ownerAddSpace-input9">
                <input id ="typedAddress" type="text" ng-model="data.address" placeholder="Typed Address or Long and Lat">
                <div style="margin-right:12pt;">or</div>
                 <input type="text" placeholder="Find Address" google-autocomplete-suggestion location="data.location" country-code="{{countryCode}}" on-selection="onAddressSelection(location)" ng-model="data.location.formatted_address" readonly required>
            </label>
             <label class="item item-select" id="ownerAddSpace-select1">
                <span class="input-label">Parking Space Type</span>
                <select name ="typeOption" ng-model="data.type">
                  <option>Standard</option>
                  <option>Compact</option>
                  <option>Covered</option>
                  <option>Handicap</option>
                </select>
              </label>
            <label class="item item-input" id="ownerAddSpace-input10">
                <input type="text" ng-model="notes" placeholder="Notes (optional)">
            </label>
            <!--<label class="item item-input" id="ownerAddSpace-input11">
                <input type="text" placeholder="Picture url">
            </label>-->
        </form>
        <!--<ion-content ng-controller="UploadController">-->
            <input class="bottom-marg-15" id ="fileUpload" type="file" name="file" file="file">
            <!--<button class="button button-small button-full button-positive" ng-disabled="file.size&amp;&amp;false || uploadProgress&gt;0" ng-click="upload()" ng-cloak="">Upload</button>-->
            <img class="fit" ng-if="uploadUri" ng-src="">
            <a ng-href="" ng-bind="uploadUri"></a>
        <!--</ion-content>-->
        <ion-list id="addSpaceList">
                
        </ion-list>
        <button id="ownerAddSpace-button4" class="button button-positive  button-block icon ion-android-add-circle" ng-click="openTimePicker()">Add Additional Timeslot</button>
        <button id="confirmSpace" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block" ng-click="addSpace()">Confirm Space</button>
    </ion-content>
</ion-view>
