<ion-view title="Owner Profile" id="page10">
    <ion-content padding="true" class="has-header">
        <form id="ownerProfile-form6" class="list">
            <label class="item item-input" id="ownerProfile-input15">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name">
            </label>
            <label class="item item-input" id="ownerProfile-input14">
                <span class="input-label">Email</span>
                <input type="text" placeholder="email@gmail.com">
            </label>
            <label class="item item-input" id="ownerProfile-input16">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="Phone Number">
            </label>
        </form>
        <div class="text-center">
            <h4 style="text-align: center;">Average rating:</h4>
             <ionic-ratings ratingsobj='ratingsObject' index =0></ionic-ratings>
        </div> 
    </ion-content>
</ion-view>