
<ion-view title="Owner Add Space" id="page9" ng-app="time">
    <ion-nav-buttons side="left" class="has-header">
        <button class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form id="ownerAddSpace-form4" class="list">
            <label class="item item-input" id="ownerAddSpace-input8">
                <input type="text" placeholder="Parking Space Name">
            </label>
            <label class="item item-input" id="ownerAddSpace-input12">
                <span class="input-label">$</span>
                <input type="text" placeholder="Price/hour">
            </label>
            <label class="item item-input" id="ownerAddSpace-input9">
                <input type="text" placeholder="Address">
            </label>
            <label class="item item-input" id="ownerAddSpace-input10">
                <input type="text" placeholder="Notes (optional)">
            </label>
            <label class="item item-input" id="ownerAddSpace-input11">
                <input type="text" placeholder="Picture url">
            </label>
        </form>
        <button id="ownerAddSpace-button4" class="button button-positive  button-block icon ion-android-add-circle" ng-click="openTimePicker()">Add Additional Timeslot</button>
        <button id="ownerAddSpace-button5" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Confirm Space</button>
    </ion-content>
</ion-view>
