<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button id ="menuButton" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Owner Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="ownerMenu-list1">
                <ion-item id="ownerMenu-list-item1" ui-sref="owner.home" menu-close="">Home</ion-item>
                <ion-item id="ownerMenu-list-item2"  ui-sref="owner.addSpaceOptions"  menu-close="">Add Space</ion-item>
                <ion-item id="ownerMenu-list-item3"  ui-sref="owner.profile"  menu-close="">Profile</ion-item>
                <ion-item id="ownerMenu-list-item4"  ui-sref="owner.payment"  menu-close="">Payment</ion-item>
                <ion-item id="ownerMenu-list-item5"  ng-click="showLogout()" menu-close="">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>