<ion-view title="Owners Information" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="ownersInformation-markdown4">
      <p style="color:#000000;">
        <strong>Owner's name</strong>: John Doe</p>
    </div>
    <div id="ownersInformation-markdown5">
      <p style="color:#000000;">
        <strong>Email</strong>: jmoney@aol.net</p>
    </div>
    <div id="ownersInformation-markdown6">
      <p style="color:#000000;">
        <strong>Phone number</strong>: (xxx)xxx-xxxx </p>
    </div>
    <div id="ownersInformation-markdown7">
      <p style="color:#000000;">
        <strong>Owner's rating</strong>: 4.5/5</p>
    </div>
  </ion-content>
</ion-view>