<ion-view title="Parking Search Results" id="page6">
    <ion-content padding="true" class="has-header">
    <div id="noResults" style="color: red;"></div>
        <ion-list id="parkingSearchResultsList">
        <ion-item class="item-thumbnail-left" id="parkingSearchResults-list-item11" ng-repeat="parkingSpace in parkingSpaces" ng-click="itemClicked(parkingSpace)">
            <img ng-src= "{{parkingSpace.get('picture')._url}}"/>
            <h2>Price per hour: ${{parkingSpace.get("price")}}</h2>
            <p>Distance: {{parkingSpace.get("distance")}} miles</p>
            <p>Address: {{parkingSpace.get("address")}}</p>
            <p>Type: {{parkingSpace.get("type")}}</p>
        </ion-list>
    </ion-content>
</ion-view>
