

<body ng-app="starter" ng-controller="ExampleCtrl">
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title">Noodlio Pay | Simple Example</h1>
      </ion-header-bar>
      <ion-content class="has-header">

        <div class="padding center">
          <input type="image" src="../img/blue-on-light@2x.png" align="center"
          onclick="location.href='https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_ca_9UHlLmqGjG3bprqMMYz1GpJrXGvpX3ZG&scope=read_write';"/>
        </div>

      </ion-content>
    </ion-pane>
  </body>
