<ion-view title="Reservation" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="pricePerHour" style="color:#000000;">$___ per hour</h3>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h4 id="address" style="color:#000000;">(Address)</h4>
    <div id="notes">
      <p style="color:#000000;">(Optional) Notes:</p>
    </div>
    <button id="ownerPageButton" class="button button-stable button-small button-block" ng-click="seeOwnerPage()">(owner name)'s Owner Profile</button>
    <button id="reserveButton" class="button button-positive  button-block">Reserve Space</button>
  </ion-content>
</ion-view>
