/* Empty. Add your own CSS if you like */
 .ionic_ratings .icon {
    font-size: 25px;
  }

  .ionic_ratings .read_only {
    pointer-events:none !important;
  }

  .scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}